.App {
  text-align: center;
}

/* HEADER */

.header {
display: flex;
color: white;
background-color: grey;
}

.header h1 {
  margin-right: auto;
  margin-left: 1rem;
}


.header .navbar {
  margin-left: auto;
  margin-right: 1rem;
}

.header .navbar ul {
  list-style: none;
  display: flex;
}

.header .navbar ul li {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 1.75rem;
}

.header .navbar ul li a {
  text-decoration: none;
  color: rgb(81, 158, 225);
}

.header .navbar ul li :hover {
  transform: scale(1.5);
}

/* FOOTER */

.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  background-color: grey;
}

